.banner{
    opacity: 1;
    transition: .6sease-in-out;
    transition-delay: .6s;
}


.bg{
    background-color: rgb(16, 43, 42, 1);
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(270deg, rgba(4, 25, 29, .1), rgba(4, 25, 29, .7) 70%);
    width: 100%;
    height: 100%;
    transition: .4sease-in-out;
}

.tst-breadcrumbs {
    position: relative;
    display: inline-flex
;
    background-color: #f39c12;
    margin: 0;
    padding: 0 30px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
}

.tst-breadcrumbs:before {
    content: "";
    height: 7px;
    width: calc(100% - 20px);
    position: absolute;
    bottom: -7px;
    border-radius: 0 0 5px 5px;
    background-color: #f2f6f7;
    opacity: .15;
    transition: .3sease-in-out;
    left: 10px;
}

.tst-breadcrumbs li {
    list-style-type: none;
    margin-right: 15px;
}

.before\:dashed-border::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border: 1px dashed #F2994a;
    width: 70%;
}

